<h1>Assessment for 
  <% if @assessment.course_module_id.nil? %>
    "Current Module has no name."
  <% else %>
    <%= @assessment.course_module_id %>
  <% end %>
</h1>



<%= render 'form' %>

<%= link_to 'Back', users_path %>
