<%= current_page?!(root_url) %>

<div class="page-header">
	<p>Beta</p>
  <img src="#">
	<h1>Wynston</h1>
	<p>Online career and technical education, for free</p>
	<% if user_signed_in? %>
	<% else %>
		<a href="/users/sign_up">
		<button type="button" class="btn btn-default">Sign up</button>
		</a>
	<% end %>
	<a href="/courses">
	<button type="button" class="btn btn-default">View all courses</button>
	</a>
</div>

<h3>Featured courses</h3>
  <div class="row"> 
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="#" alt="">
      <div class="caption">
        <a href="#"><h5>Ruby on Rails</h5></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
   </div>  
<div class="row"> 
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="#" alt="...">
      <div class="caption">
        <a href="#"><h5>Advanced JavaScript</h5></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div> 

<div class="row">
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="#" alt="...">
      <div class="caption">
        <a href="#"><h5>Startup 101</h5></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<h3>Featured upcoming course</h3>
<div class="row">
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="#" alt="...">
      <div class="caption">
        <a href="#"><h5>Social Entrepreneurship</h5></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="#" alt="...">
      <div class="caption">
        <a href="#"><h5>Learn HTML & CSS</h5></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="#" alt="...">
      <div class="caption">
        <a href="#"><h5>Career Management 101</h5></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<hr>
<h4>View all courses</h4>
<hr>

<h2>How it works</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Orem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

<hr>
<div class="row">
	<div class="col-md-4">
		<h2>1. Learn</h2>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
	</p>
	</div>
	<div class="col-md-4">
		<h2>2. Master</h2>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
	</p>
	</div>
	<div class="col-md-4">
		<h2>3. Connect</h2>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
	</p>
	</div>
</div>
	<hr>
	<h3>Our partners</h3>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img src="#">
			</div>
			<div class="col-md-3">
				<img src="#">
			</div>
			<div class="col-md-3">
				<img src="#">
			</div>
			<div class="col-md-3">
				<img src="#">
			</div>
		</div>
	</div>
	<hr>
	<h3>Spread The Word</h3>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<img src="#">
			</div>
			<div class="col-md-2">
				<img src="#">
			</div>
			<div class="col-md-2">
				<img src="#">
			</div>
			<div class="col-md-2">
				<img src="#">
			</div>
			<div class="col-md-2">
				<img src="#">
			</div>
		</div>
	</div>
	<hr>
	<footer>
		<div id="main-nav" class="navbar navbar-default" role="navigation">
	    <ul id="nav-lis" class="nav navbar-nav navbar-left">
		    <li><a href="#"><h5>About</h5></a></li>
				<li><a href="#"><h5>Employers</h5></a></li>
				<li><a href="#"><h5>Partners</h5></a></li>
				<li><a href="#"><h5>Contact</h5></a></li>
				<li><a href="#"><h5>Terms & Privacy</h5></a></li>
				<li><a href="#"><h5>Blog</h5></a></li>
				<li><a href="#"><h5>Help</h5></a></li>
	    </ul>
	    <div class="nav navbar-nav navbar-right">
	    	<h5>2014 Wynston Labs, Inc.</h5>
	  	</div>
	   </div>
	</footer>