<p id="notice"><%= notice %></p>

Course module <strong><%= @course_module.title %></strong>
<br><br>

<%= link_to 'Continue to Edit', edit_course_module_path(@course_module) %> |
<%= link_to 'View all Modules', course_modules_path %>
