<img src="#">
<p>Beta</p>
<div class="page-header">
  <h1>Courses</h1>
</div>

<table class="table">
<% @courses.each do |course| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

<td>
	<%= image_tag(course.image_url) %>
</td>

<td class="course_info">
	<dl>
		<dt><%= course.title %></dt>
  	<dt><%= course.description %></dt>
  </dl>
 </td>
</tr>
<% end %>

</table>

<div class="row">
	<div class="col-md-4">
		<h3>Socialize</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
	</p>
	</div>
	<div class="col-md-4">
		<h3>Get Started</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
	</p>
	</div>
	<div class="col-md-4">
		<h3>Follow Our Blog</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
	</p>
	</div>
</div> 