<img src="#">
<p>Beta</p>
<div class="page-header">
  <h1>Courses</h1>
</div>

<% @courses.each do |course| %>
<div class="course">
  <strong><%=course.title %></strong>
  <p><%= course.description %></p>
 
</div>

<% end %>

<div class="row">
	
	<div class="col-md-4">
		<h3>Socialize</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
	</p>
	</div>
	<div class="col-md-4">
		<h3>Get Started</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
	</p>
	</div>
	<div class="col-md-4">
		<h3>Follow Our Blog</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
	</p>
	</div>
</div> 