<hr>
<h1>Course Panel</h1>
<div class="row">
<div class="col-md-3">
<h3>Course Info</h3>

<ul> 
	<li>About</li>
	<li>Outline</li>
	<li>Video lessons</li>
	<li>Assessments</li>
	<li>Supplemental</li>
	<li>Material</li>
	<li>Help</li>
</ul>

</div>
<div class="col-md-7">
<h3>Tell us about your course</h3>

<%= render 'form' %>
</div>
</div>