<h1>Course Panel</h1>
<h3>Course Info</h3>

<ul> 
	<li>About</li>
	<li>Outline</li>
	<li>Video lessons</li>
	<li>Assessments</li>
	<li>Supplemental</li>
	<li>material</li>
	<li>Help</li>
</ul>

<h4>Tell us about your course</h4>

<%= render 'form' %>

