// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_picture_details {
  float: left;
}



.about_you  {
  float: left;
  width: 50%;
}


.contact {
	float: left;

}

.skills {
  float: left;
}