// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	margin-left:20px;
}


div {
  margin-right: 2em;
}

.row1 {
  float: left;
  width: 100%;
}

.profile_picture_details {
  float: left;
}

.about_you  {
  float: left;
  width: 50%;
}


.contact .field {
	float: left;

}

.skills {
  float: left;
}
 
